.navbar {

}
h2 {
    color: #ecdf04;
    text-align: center;
}
.name {
    color: white;
}
.friendsContainer {
    display: flex;
    justify-content: space-around
}
.friendItem {
    display: flex;
    align-items: center;
    flex-direction: column;

}
